---
import Button from '../components/Button.astro'; 
---

<section class="mb-4 p-4 border-b border-gray-200 flex flex-col items-center">
    <h3 class="text-xl font-bold text-gray-800 mb-4 pb-4 text-center">Condiciones para adoptar</h3>
  
    <article class="flex flex-col md:flex-row items-start mb-6 bg-[#DC8B7A25] rounded-lg shadow-md max-w-5xl">
        <img src="/images/dog.webp" alt="Perro" class="w-full md:w-1/2 lg:w-1/3 h-auto object-cover m-4" />
        <div class="flex-1 p-4">
            <p class="text-gray-600 mb-4">
            Todos nuestros animales se entregan con <strong>contrato de adopci贸n firmado</strong> por ambas partes, <strong>compromiso de seguimiento</strong> por parte de la protectora y <strong>compromiso de esterilizaci贸n</strong>.
            </p>
            <p class="text-gray-600 mb-4">
            El adoptante cumplimentar谩 un <strong>formulario</strong> y pasar谩 la <strong>entrevista</strong> por la persona encargada de las adopciones para comprobar si es <strong>apto para la adopci贸n</strong>.
            </p>
        </div>
    </article>
  
    <article class="flex flex-col md:flex-row items-start justify-end mb-6 bg-[#DC8B7A25] rounded-lg shadow-md max-w-5xl">
        <div class="flex-1 p-4">
            <p class="text-gray-600 mb-4">
            A la entrega de la adopci贸n se abonar谩 la cantidad de <strong>200 euros para machos</strong> y <strong>250 euros para hembras</strong> con lo que se cubren los siguientes gastos:
            </p>
            <ul class="list-disc list-inside text-gray-600 mb-4">
            <li>4 vacunas</li>
            <li>Microchip y pasaporte</li>
            <li>Revisi贸n veterinaria con cada vacunaci贸n</li>
            <li>Esterilizaci贸n</li>
            </ul>
        </div>
        <img src="/images/cat.webp" alt="Gato" class="w-1/2 md:w-1/4 lg:w-1/6 h-auto object-cover m-4" />
    </article>
  
    <nav class="flex flex-col md:flex-row items-center md:items-start justify-center space-y-4 md:space-y-0 md:space-x-4 mb-4 pb-6 max-w-5xl">
        <Button url="https://forms.gle/ZimY4o7hYFBKStHV8" text="Formulario de adopci贸n PERRO " />
        <Button url="https://forms.gle/K6RcjPRuZoRRiVZx5" text="Formulario de adopci贸n GATO " />
    </nav>
    <p class="text-gray-600 pb-6 text-center">Para cualquier informaci贸n o dudas, puedes contactar en el tel茅fono <strong>674309206</strong></p>
</section>  